.cartLogo {
    width: 2.5rem;
    height: 2.5rem;
}

.cartDiv{
    display: flex;
    flex-direction: row;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer__PDiv{
    background-color: rgba(0, 0, 0, 0.2);
}